body {
    /*background: url(http://thepurplepeople.co.uk/Assets/Background.png);
    background: #999999;
    background-size: 100vw 100vh;
    font-family: Arial;
    font-weight: lighter;
	color:#FFFFFF;
	font-size:30px;*/
}
input{
	background-color:transparent;
	border:none;
	color:white;
	font-size:20px;
}
#submitSignIn{
	text-align:center;
}
#submitSignIn img{
	cursor:pointer;
	vertical-align:top;
}
#submitSignIn div{
	vertical-align:top;
	text-align:center;
}
#signUpCell{
	height:15vh;
	text-align:center;
	vertical-align:bottom;
}
#signUpSpan{
	color:#FFE65E;
}
#alertMessage{
	position: absolute;
	text-align:center;
	vertical-align:center;
	background-color:#000000;
	padding:20px;
	width:80vw;
	margin-left:10vw;
	margin-right:10vw;
}
#alertMessage span{
	font-size:14px;
	vertical-align:bottom;
	text-align:right;
}
.dashTable{
	width:100%;
	max-height:100vh;
	height:100%;
}
.dashTable tr th{
	font-size:60px;
	height:1vh;
}
.signInTable{
	width:98vw;
	max-height:98vh;
	height:96vh;
}
.signInTable tr th{
	font-size:60px;
	height:1vh;
}
.signInTable tr:nth-child(2){
	height:30vh;
}
.signInTable td:nth-child(1){
	text-align:right;
	width:40vw;
}
.signInTable td:nth-child(2){
	width:15vw;
}
.signInTable td:nth-child(3){
	text-align:left;
	width:40vw;
}
.signInTable td input{
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
}
.inputSpan{
	border-bottom:1px solid #FFFFFF;
	max-width:350px;
	white-space:nowrap;
}
.signInTable td.addPic{
	background-image: url("http://thepurplepeople.co.uk/Assets/Add_Picture.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	text-align:center;
	vertical-align:center;
	padding:20px;
	margin-bottom:10px;
}
.outerContainer{
	background-color:#FFE65E;
	border-radius:5px;
	color:#000000;
	text-align:center;
	padding:4px;
	width:30vw;
	margin-left:1vw;
	margin-right:1vw;
	margin-top:1vh;
	margin-bottom:2vh;
}
.innerContainer{
	background-color:#D3D3D3;
	border-radius:5px;
	height: 37vh;
	width:30vw;
	overflow-x:auto;
	overflow-y:auto;
}
.innerContainer div{
	width:100%;
}
.innerContainer div span{
	width:100%;
}
.dashContainerTable{
	width:100%;
	height:100%;
	table-layout:fixed;
}
.dashHeadline{
	vertical-align:top;
	height:1vh;
	padding-bottom:25px
}
.dashDescription{
	vertical-align:top;
	font-size:18px;
}
.taskTable{
	margin-top:20px;
	width:100%;
	table-layout:fixed;
}
.taskPageTable{
	padding-left:100px;
	padding-right:100px;
	padding-top:50px;
	width:100%;
	table-layout:fixed;
}
.taskName{
	width:100%
}
.taskComplete{
	width:20%;
	height:60px;
}
.taskComplete div{
	
}
.editTaskDescription{
	width:100%
}
.taskCheckContainer{
	position: relative;
	width:1vw;
}
.taskTick{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color:black;
}
.taskPageTick{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
	color:black;
}
.taskCheckbox{
	height:40px;
	width:1vw;
	padding-left:20px;
	padding-right:20px;
	background-color:#FFFFFF;
	border:3px solid #FFE65E;
}
.taskDescription{
	width:80%;
	height:50px;
}
.taskDescription div{
	text-align:left;
	width:100%;
	margin-left:15px;
	border-bottom:3px solid black;
	font-size:18px;
}

.taskPageDescription{
	width:80%;
	height:50px;
}
.taskPageDescription div{
	text-align:left;
	width:95%;
	margin-left:15px;
	border-bottom:3px solid white;
	font-size:18px;
}
.pageTitle{
	
}
#clothesChart{
	height:100%;
	width:100%;
}
#container{
	height:100%;
	width:100%;
	/*background-image: url("http://thepurplepeople.co.uk/Assets/Container.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	text-align:center;
	vertical-align:center;
	padding:20px;
	margin-bottom:10px;*/
	/*#FFE65E*/
}
